<!DOCTYPE html>
<html ng-app="hikehk">
<head>
  <title>Hikehk</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= favicon_link_tag 'hike_marker.png' %>
  <%= javascript_include_tag 'application' %>
  <script src='//maps.googleapis.com/maps/api/js?libraries=geometry&amp;sensor=false'></script>
  <%= csrf_meta_tags %>
</head>
<body ng-view >

<%= yield %>

</body>
</html>
